[2018-10-11 11:35] waygou opened #1 "[question] Attaching images"
Hi manogi,

The image component upload works on this editor? Do you know how I can use it?

Thanks,
Bruno

[2018-10-11 11:36] doriandigital opened #2 "class Manogi\Tiptap not found"
When following the documentation and adding Tiptap::make('something'), I am presented with the following exception "class Manogi\Tiptap not found"

I declared the following dependency in the class:

use Manogi\Tiptap;

I also tried "use TipTap" and "Laravel\Nova\Fields\TipTap".

Any idea what could be the issue?

[2018-10-11 11:58] manogi commented on #1
Hi Bruno,
the image component ist not yet implemented. It is on the roadmap.
Thanks for your patience, Sebastian

[2018-10-11 12:00] manogi commented on #2
The correct use statement is `use Manogi\Tiptap\Tiptap;`
Which editor do you use? Editors like Sublime Text, VS Code, PHPStorm should be able to help you with using the right "use" statements (some of them need plugins for that).

[2018-10-11 12:01] manogi commented on #2
But thanks for mentioning this, I will add it to the Documentation and Readme.

[2018-10-11 12:35] waygou commented on #1
Sorry my bad, you wrote it there is. Thanks! Great package, congrats!

[2018-10-11 12:35] #1 closed

[2018-10-11 12:38] manogi commented on #1
To be honest I added the roadmap to the readme after your question here   😬

[2018-10-11 14:30] #2 closed

[2018-10-17 08:40] albalooshi opened #3 "Font coloring and text alignment"
Is there any plans to support color coloring? Also text alignment would also be great.
Thanks

[2018-10-17 09:03] manogi commented on #3
Hey there.

I will put text alignment on the roadmap.

I don't know about coloring: I don't see the editor as a WYSIWYG editor. The content should just represent the structure of the text, not the styling. So coloring will probably not be part of it.

In an ideal world the content should just as well be representable as Markdown or even an JSON object, so even text alignment bends those rules a bi

[2018-10-22 08:58] albalooshi commented on #3
@manogi
Thank you for your reply, Any updates regarding the text alignment? I would like to use this package in one of my projects :).

[2018-10-22 10:29] manogi commented on #3
As I have a lot of client work to do in the moment and this is a project I work on in my free time it will have to wait at least until the weekend.

[2018-11-27 17:14] manogi commented on #3
The more I think about it: I don't think I will add text alignment in the foreseeable future. I just don't see text formatting outside of what can be done by Markdown as part of this project.

Also sorry again for not working on the project for quite some time - I just don't have the time at the moment. I will continue at some point in the future though - there is a whole new major version now of

[2018-11-27 17:14] #3 closed

[2019-02-08 17:59] StanBarrows commented on #1
Heyho, awesome package!

Can we somehow support you with the image-implementation =)?

Cheers,
Stan

[2019-02-09 10:41] manogi commented on #1
Hi Stan,

thank you very much for offering your help.

I can only work week-ends on my open source projects, and having family and a kid that does not leave me much time, BUT: last week-end I started reprogramming the package to use the latest version of the tiptap editor (which includes some major changes), and I hope I will finish that this week-end.

After that, I'd be glad If you looked into i

[2019-02-09 10:43] StanBarrows commented on #1
That sounds like a plan! Happy Weekend =)

[2019-02-09 23:52] manogi commented on #1
Hi @StanBarrows, I updated the project. The package is in sync with the current vue-tiptap version, so if you find the time please feel free to tinker with the idea of implementing the image part.
I will also think about it next weekend ;-)

[2019-03-12 16:33] niladam commented on #1
Hello. Any news on this ?

[2019-05-14 00:24] bcorcoran opened #5 "Request: Add Table Support"
Could you add table support (https://tiptap.scrumpy.io/tables) at some point?

[2019-05-25 00:35] hanspagel opened #6 "Change org name to @scrumpy"
Hi Hans from Scrumpy here. I just discovered your laravel nova field, that's awesome!

We changed our org name to @scrumpy, there's an redirect set up but it could potentially be taken over. Would you mind to update the name in your README? 💓

[2019-05-25 08:17] manogi commented on #6
Hi there - done.

[2019-05-25 08:17] #6 closed

[2019-06-22 05:42] milewski commented on #5
Was was trying to add this just now and submit a PR, however the dependency on that pro font-awesome icons is overkill.... I would suggest getting ride of it and using some free ones. however I still would like this feature.. seems pretty straight forward to implement... any chance of an update @manogi ?

[2019-06-30 13:47] manogi commented on #5
@milewski You are right - tbh this is my first real open source contribution and I did not think about other contributors having to add font awesome pro. I will remove that dependency in my next update. Trying to do that today, don't know if I can finish it.

[2019-06-30 14:49] manogi commented on #5
I have removed the dependency now in the new release 0.3.2.

[2019-06-30 14:52] manogi commented on #5
It is true that the table support seems straightforward - I will give it a shot myself, and if I don't succeed I will get back to you, @milewski

[2019-06-30 22:20] manogi commented on #5
Am pretty far with adding table support.
Had to fix a bug introduced in the 0.3.2 release though - it is fixed in 0.3.3.

Now I just need some icons to use for all those table buttons ("add row below", "add row above" etc.).

[2019-07-16 17:04] adrienne commented on #5
@manogi - Wordpress' Gutenberg uses Material Icons, which has a TON of options and you should be able to find some good ones. https://material.io/tools/icons/?style=baseline

There's an icon font and SVGs available, whichever works better with the project.

[2019-08-14 21:02] ArmeniaH opened #7 "Issue with "?" symbol in editor"
Whenever I am trying to write "?" symbol, the global search gets the focus, so it seems there is conflict between laravel nova global search shortcut key.

Any idea how to fix this ?

[2019-08-16 16:05] manogi commented on #7
Hey @ArmeniaH - thank you for noticing this. It is now fixed in 0.3.4.

Also thank you to @bcorcoran for showing the fix in https://github.com/laravel/nova-issues/issues/117#issuecomment-493263994

[2019-08-16 16:06] #7 closed

[2019-10-02 12:39] lewis-sixth opened #8 "Can't create a link."
When I select the link button the tooltip appears, but I cant select the input to type in a url. When I click the input it highlights like a button click. The close button works fine,

When I the link button.
<img width="237" alt="Capture" src="https://user-images.githubusercontent.com/43447977/66044542-ad8aab00-e519-11e9-8479-3a40d44bda12.PNG">

When I click and hold the link form.
<img width="23

[2019-10-06 13:12] stuartcusackie commented on #8
Exact same problem here. Just installed the package today.

[2019-10-10 09:27] #8 closed

[2019-11-28 11:09] doriandigital opened #10 "Label name not showing on details view"
When using the TipTap editor, the label name is not showing on the details view.

In cases when you have more than one editor field per view, it can be a bit tricky to figure out which field is which.

![details-view](https://user-images.githubusercontent.com/43826880/69801621-8f66c180-11cf-11ea-8a45-9e47fd1d9719.jpg)

[2019-11-29 13:28] doriandigital opened #11 "Field saving empty HTML tags on removal"
Hi Magoni,

First of all, thank you so much for this amazing package!

One small thing, I noticed that when deleting all the text inside the field editor, empty HTML tags are still saved on the database.

Things like `<p></p>` or `<strong></strong>`.

The problem is, when doing `<?php if (empty($field)) echo 'something'; ?>` is always going to give positive, because $field is never really "empty".

[2019-12-05 10:50] manogi commented on #10
You are right, and this is fixed now in 0.3.6. Thanks for pointing this out.

[2019-12-05 10:50] #10 closed

[2019-12-05 10:56] manogi commented on #11
Hi @doriandigital ,
I think this is a problem not unique to TipTap. Other editors have the same "feature" (not really a "bug"), where they enter an empty paragraph when the page is empty.

For now there is no way for me to change this, as this is the behavior of the underlying editor - I only wrote the Nova wrapper (so most of your thanks goes to @scrumpy ;-))

I would always have a bit more robus

[2019-12-05 10:56] #11 closed

[2019-12-05 12:52] doriandigital commented on #11
Makes total sense! Thank you for looking into it :)

[2019-12-30 18:13] TimothePearce opened #12 "`<h4>, <h5>, <h6>` tags are converted to `<p>`"
## Description
The `<h4></h4>`, `<h5></h5>` or `<h6></h6>` tags are converted to a `<p></p>` when while editing the content.

## Example
During creation, my tags are properly formatted:
![Capture d’écran 2019-12-30 à 19 10 46](https://user-images.githubusercontent.com/11693661/71594440-34125100-2b38-11ea-8a99-871b7ad33a29.png)

Wich is not the case when I'm editing the same content:
![Capture d’

[2019-12-30 20:41] manogi commented on #12
PR fix merged and new version released, thanks!

[2019-12-30 20:41] #12 closed

[2020-01-06 11:14] adrienne commented on #5
@manogi - any word on this? I'd really like to switch to this editor but currently table support is buggy (it won't let me add the `"resizeable = true"` part, and trying to edit tables is just very jumpy and i don't get all the row and column buttons properly.

[2020-03-08 15:00] thannaske opened #14 "Show raw HTML"
Is there any possibility to see the raw HTML that is getting stored when saving? I've seen this in a few editors - you could switch between WYSIWYG and the Sourcecode.

[2020-03-08 17:21] manogi commented on #14
Hi there,
I am sorry, this is not possible at the moment with the tiptap editor.

[2020-03-08 17:21] #14 closed

[2020-04-02 12:09] Jonpolygon opened #17 "Is there support for Embeds?"
I couldn't see in the documentation or code, but is there a way to add embeds, specifically YouTube?

[2020-04-14 09:00] lptn opened #18 "Allow to specify headings level as range"
By SEO and accessibility [and standards], it's better to have only one H1 per page. For this reason it will be nice to specify available headers as a range or a list, e.g. `[3,4,5,6]`. Is it possible right now? If now, can we have this feature in the package?

PS: thanks for your great package!

[2020-04-14 09:41] manogi commented on #18
Ah - ok, that is an interesting point. Not possible at the moment, but should be relatively easy to integrate. I would probably make it so that the `headingLevels` method can accept either an integer (current functionality) or an array, which would be the new functionality you propose. I will keep you posted here.

[2020-04-14 09:48] lptn commented on #18
@manogi
that will be amazing! I'll wait for this feature 👍

[2020-04-30 16:19] latwelve commented on #5
Hey @manogi has this project been abandoned? thank you

[2020-04-30 19:59] manogi commented on #5
Not really abandoned, but I don't find any time next to customer work atm. This is an open source projects - PRs are welcome. I hope I find the time to get back to this project in the nearer future.

[2020-05-03 08:35] desaintflorent commented on #18
I'm interested in this functionality too !

[2020-05-03 10:23] manogi commented on #18
This is now done in Release 0.4.0 (see Readme part about heading levels).

[2020-05-03 10:23] #18 closed

[2020-05-03 17:35] lptn opened #19 "Request: add source code edit mode"
froala/nova-froala-field has a very useful (in some cases) mode to edit raw HTML. Is it possible to implement the same for this field/editor?

[2020-05-03 18:10] desaintflorent commented on #18
That was fast 👍

[2020-05-12 15:54] manogi commented on #19
Hi there - this is not planned. As the content ist not stored as HTML but as a JSON object, there is not real raw HTML to edit in the first place.

[2020-05-12 15:57] manogi commented on #17
This could be added. I will keep this issue open, but I am not sure when I will find the time. PRs are welcome.

[2020-05-12 16:01] manogi commented on #19
Well - the original tiptap editor - which this is a wrapper for - actually has the possibility to switch from JSON to HTML. I will keep this open so far and see if I can add this.

[2020-06-11 20:06] manogi commented on #19
Added in 0.5.0 - thanks to @tmorian.

[2020-06-11 20:06] #19 closed

[2020-06-18 08:35] manogi commented on #17
@Jonpolygon you can now use the "edit_html" button and then paste in iframes (f.e. the youtube embed) in the HTML view.

[2020-06-18 08:35] #17 closed

[2020-08-28 15:48] mstaack opened #22 "Request: Always Show Content"
Add an option to always show the complete content.
Like in TextArea Field:

[code]

[2020-08-30 07:56] saleh-mir commented on #22
+1

[2020-08-30 12:57] gavinhewitt opened #23 "Question (not an issue): how can your files build when you're on an old version of laravel mix?"
Hi,

I'm trying to create a custom tiptap field for Nova (I can't use this package because I want to really customize it), but I can't get my code to build properly. When I try to import tiptap I get an 'unexpected token' error because of the usage of the spread operator. I finally found how to fix it, and that is upgrading Laravel-mix to 5.0, and adding a .babelrc in the root. This builds the fil

[2020-08-31 06:26] manogi commented on #22
Textarea and Trix work a bit differently, as they are always completely hidden and `alwaysShow()` then completely reveals the content.

As I kind of missed the opportunity to do the same, I am now hesitant to take that method name and give it a different meaning. Shouldn't it actually act exactly the same as with Trix and Textarea?

This is what I plan to do, but is it a "breaking change" or can I

[2020-08-31 07:50] manogi commented on #22
OK - I decided to up the version to 1.0 now. So we now have the exact same behavior as Trix and Textarea: `alwaysShow()` works the same way and the field is hidden from the index view by default.

[2020-08-31 07:50] #22 closed

[2020-08-31 08:07] manogi commented on #23
Hi Gavin, tbh the question about the spread operator and laravel mix I have no quick answer to.

As for why the field does not show, if you point me to your repository I will have a look when I find the time. No promises though, as I'm pretty busy at the moment.

[2020-08-31 09:34] gavinhewitt commented on #23
HI Sebastian,

Thanks for your response!

The question is really if you don't encounter any hiccups when you build the files with the settings in your package.json. My guess is not, otherwise you'd know :-)

As for the repo:
I've only had it local so not in a repo yet, but the setup is really basic. It's just a fresh Laravel 7 (7.26.1) install, with Nova 3.8.4 and the default field code generated

[2020-08-31 13:47] manogi commented on #23
Hi Gavin, don't get me wrong, but debugging this here in the issue section of my package is a bit much to ask.
I give it one shot, which is I don't seen you doing anything with `Editor, EditorContent, EditorMenuBar, EditorMenuBubble` which you are importing - no `components` object inside your `default` object.

But this should not neccessarily cause your field to not show at all. I recommend usin

[2020-08-31 13:47] #23 closed

[2020-08-31 17:17] gavinhewitt commented on #23
Umm, I wasn't asking you to help me debug anything. It was only that you asked for a repo that I posted it here to give a view what would be in in it. I think you misunderstood.

I have tried multiple things (including doing something with the imports). As a matter of fact I used your package as a starting point, and that's why I reached out to you, since you may be the knowledgeable guy when it c

[2020-08-31 17:34] mstaack commented on #22
brilliant, thanks 🚀

[2020-08-31 19:04] gavinhewitt commented on #23
BTW, I have to thank you. Checking Vue in devtools was not possible because the Nova vue instance was set to production and I did not realize I could open it up by rebuilding the nova files. I can now see errors which should take me a bit further.

Thanks!

[2020-09-01 16:40] Reached opened #25 "Extend with superscript?"
Hi there,

Great package!

I wonder if it's possible to add your own extensions? Currently want to add superscript and subscript support, and I found this plugin for tiptap: https://github.com/hanspagel/tiptap-extension-superscript is there any way currently to make it work with this package? :)

Thanks!

[2020-09-13 13:37] manogi commented on #5
finally found the time to include table support (in v1.1.0):

![image](https://user-images.githubusercontent.com/1419634/93019323-8e741480-f5d6-11ea-8b0f-a02f4031da3f.png)

![image](https://user-images.githubusercontent.com/1419634/93019291-6b496500-f5d6-11ea-9507-c46c56caf389.png)

![image](https://user-images.githubusercontent.com/1419634/93019373-d2ffb000-f5d6-11ea-9101-383d2f86e73e.png)

[2020-09-13 13:37] #5 closed

[2020-09-13 14:03] manogi commented on #25
I added superscript and subscript support. Not sure if and when I will get to build in extendability.

[2020-09-13 14:03] #25 closed

[2020-09-16 10:23] lptn opened #27 "Field doesn't display help text"
## code
[code]

## result

![image](https://user-images.githubusercontent.com/5278175/93325252-b2766680-f81f-11ea-9b76-a68611b4fb13.png)

## version
v1.1.3

[2020-09-22 16:06] lptn opened #28 "JS error on details page"
Error message with stacktrace:
[code]

![image](https://user-images.githubusercontent.com/5278175/93907545-20ca9580-fd06-11ea-9deb-9e1ece66d5b9.png)

php I use:

[code]

tiptap@1.29.4
Nova 3.10.0

[2020-09-29 07:02] Reached commented on #25
@manogi not sure why I didn't see this, but thank you so much!

[2020-10-02 08:10] manogi commented on #28
Hi there, sorry, I cannot reproduce this error with Nova v3.11.1 and the latest nova-tiptap.

Is this still happening to you with nova-tiptap v1.1.3 ?

[2020-10-02 08:21] manogi commented on #27
This is fixed in v1.2.0

[2020-10-02 08:21] #27 closed

[2020-10-02 12:29] stuartcusackie opened #29 "List items broken on detail page"
Just a small bug here. List items are being marked up to contain paragraphs on the details page:

![image](https://user-images.githubusercontent.com/20210934/94922681-90811300-04b2-11eb-9930-0884b62d3653.png)

[2020-10-02 12:47] manogi commented on #29
Thanks for the heads-up - this is now fixed in v1.2.1 by adding styles to the detail field.
Because the actual problem ist that the underlying ProseMirror wraps the li content in p tags - and this cannot be remedied in my package and neither in the underlying tiptap package, see this issue incase you are interested:

https://github.com/ueberdosis/tiptap/issues/118

[2020-10-02 12:47] #29 closed

[2020-10-02 15:12] lptn commented on #28
@manogi it's fixed, thanks a lot!

[2020-10-02 15:12] #28 closed

[2021-01-07 16:03] lptn opened #30 "Request: support PHP8"

[2021-01-07 16:17] manogi commented on #30
v1.3.0 now supports PHP8

[2021-01-07 16:17] #30 closed

[2021-01-31 17:13] u12206050 opened #32 "Add field name to id attribute"
Following convention of all other Nova fields there should exist an id attribute on the element with `tiptap-content` class containing the name of the field.

Let me know if you need help with this.

[2021-01-31 17:17] manogi commented on #32
Hi there,
if you'd like to PR this I'd gladly look into it and merge it quickly if the PR looks OK.
Thanks!

[2021-01-31 17:39] manogi commented on #32
Hi again,
I have not looked into this very deeply, but the div `tiptap-content` contains another div which then contains the actual HTML which is stored in the database. Are you sure that not the div containing the HTML should get the ID?

[2021-01-31 17:48] u12206050 commented on #32
I think it is best on the top level which wraps the whole field in. Anyone can then parse it down further if needed. PR coming soon.

[2021-01-31 17:53] u12206050 commented on #32
#33 Done. Didn't rebuild since I guess you can already have it setup locally.

[2021-02-01 07:10] #32 closed

[2021-02-24 13:42] AshleyPothecary opened #34 "Add title attributes to toolbar buttons"
Not an issue but a proposal.

Is it possible to add `title` attributes to the buttons in the editor toolbar? So when you hover over each button a helpful hint shows. Much like the GitHub editor here:

![image](https://user-images.githubusercontent.com/15107279/109003141-f909a000-769e-11eb-85e0-f5d77fc659aa.png)

Mock up using Chrome dev-tools:
![image](https://user-images.githubusercontent.com/151

[2021-02-24 13:46] manogi commented on #34
This is a good idea. This would have to be translatable (I can provide German and English). And maybe the regular "title" attribute is not enough, maybe a tooltip like you said here in Github would be nice.

Would you like to PR this?

[2021-02-24 13:50] manogi commented on #34
I just saw you seem to be new on GitHub - with "PR" I mean write a pull request, and if that is not possible for you, no problem, I will add this when I get around to it.

[2021-02-24 13:52] AshleyPothecary commented on #34
@manogi I'm certainly new to contributing but I am happy to give this a shot. I'm sure I can spare some time this week or next to look into this 😄

[2021-03-22 17:53] stuartcusackie opened #35 "How about a horizontal rule?"
You have probably considered it already and maybe rejected the idea, but a horizontal rule button would be useful in my case.

No big deal! Thanks for the package!

[2021-03-22 21:55] manogi commented on #35
Hey there - this feature has somehow been started, but not finished.

From v1.4.1 on this is now implemented and the Readme is updated. The button is called `'horizontal_rule'`.

[2021-03-23 07:54] #35 closed

[2021-03-23 10:04] stuartcusackie commented on #35
Fantastic! Thanks again!

[2021-04-01 19:49] ibrunotome opened #36 "feat: text align"
Hi! I was hyped using the package until I noticed that there isn't an option to centralize text, is it possible to add it?

[2021-04-01 20:23] manogi commented on #36
Hey there - at the moment I still use tiptap version 1 for this package, and there is no core or even third-party extension for text alignment. As I wouldn't use it myself, my motivation for writing an extension isn't really there. BUT: in version 2 of tiptap there will be such an extension and as soon as version 2 is out of beta, I will use it for my package and will include text alignment as wel

[2021-06-24 11:49] bcoelhodev opened #37 "Too much html in edit html"
Hi,

In edit html this is happening:
<img width="1101" alt="Screenshot 2021-06-24 at 12 36 40" src="https://user-images.githubusercontent.com/13311052/123256923-6c0a1280-d4e9-11eb-9114-83fd73846227.png">

I'm using v1.4.1 and laravel nova v3.20.0.

[2021-06-24 12:45] manogi commented on #37
Hi there, could you please elaborate? Where does this html come from?

[2021-06-24 13:04] bcoelhodev commented on #37
Sorry, the error is in the seeder.

Thanks.

[2021-06-24 13:04] #37 closed

[2021-08-18 09:02] bcoelhodev opened #38 "Request: New tab to link"
Hi,

Is it possible to implement the option _new tab_ (`target="_blank"`) to link?

[2021-08-22 16:44] manogi commented on #38
Hi there,

I published a new major version 2.0 now - there you can set "open in new window":

<img width="812" alt="CleanShot 2021-08-22 at 18 43 48@2x" src="https://user-images.githubusercontent.com/1419634/130363188-01d1a96f-9d81-4580-b716-2e3bddcd7591.png">

[2021-08-22 16:46] manogi commented on #36
Hi there, I published the new version 2.0. Text alignment ist now possible:

<img width="812" alt="CleanShot 2021-08-22 at 18 43 48@2x" src="https://user-images.githubusercontent.com/1419634/130363222-55ed26d9-67aa-41f2-bbd6-009d66beba78.png">

You need to add the button "textAlign" (please the the readme for all the new buttons).

[2021-08-22 16:48] manogi commented on #34
This is done now (in English and German):

<img width="802" alt="CleanShot 2021-08-22 at 18 45 19@2x" src="https://user-images.githubusercontent.com/1419634/130363272-dbeab8b1-b05f-4811-a902-1f9fb06cd931.png">

[2021-08-22 17:21] ibrunotome commented on #36
The style looks great! Props for that!

[2021-08-22 17:21] #36 closed

[2021-08-22 20:04] #38 closed

[2021-08-22 20:05] #34 closed

[2021-09-02 06:42] Reached commented on #38
@manogi you are an absolute LEGEND!

Thank you for implementing this, and for continuing the work on nova-tiptap!

[2021-09-08 09:36] phpMagpie opened #42 "subscript and superscript"
I can see this was added in version 1.1.1(?) in response to the following issue:
https://github.com/manogi/nova-tiptap/issues/25

The buttons show when added to the field, but don't appear to be working.

Have some updates from the following commit been lost in the latest version?
https://github.com/manogi/nova-tiptap/commit/10ceb8eacbf4845901fd0c1910e55b1f4b8a0edf#diff-b1e358490779f68e26ce0c95ff1

[2021-09-08 09:53] manogi commented on #42
Thank you for finding this issue @phpMagpie - it is now fixed in v2.1.3.

[2021-09-08 10:14] #42 closed

[2021-09-08 10:35] phpMagpie commented on #42
I was just about to submit a PR ... you are fast 😄

[2021-09-09 07:55] keizah7 opened #43 "Default values does'nt work"
https://nova.laravel.com/docs/3.0/resources/fields.html#default-values

[code]

[2021-09-23 06:18] manogi commented on #43
@keizah7 hi there - please describe steps to reproduce your problem. When I test it with exactly the code from the docs it works nicely, and also your version `->default(fn () => 'default.')` works nicely for me. When I use it creating a new Resource, "default." ist the content of my editor. So I'm not sure what exactly the problem is?

[2021-09-28 05:35] keizah7 commented on #43
It works for me too now. Thanks

[2021-09-28 05:35] #43 closed

[2021-10-12 09:44] orchie opened #45 "It works great, but clients need change the font color"
oh my god...
I saw this https://github.com/manogi/nova-tiptap/issues/3
but the  tiptap  https://github.com/ueberdosis/tiptap
alread has font color
https://github.com/ueberdosis/tiptap/issues/1362
can you add it?
thanks

[2021-10-12 17:07] orchie commented on #45
@manogi thanks!
can you give me some document about how to  extend acustom button?
the color picker I think use ```<input type="color" >```  enough.
I will try to make it out.

[2021-10-17 07:18] manogi commented on #45
@orchie sorry, but you will have to look at the code - I have no time to write docs how to contribute to this package. But please, before you start writing a PR: keep in mind that I might not accept the PR for one reason or another, so if you don't want to take the risk of spending time on this for nothing, you probably better should think twice.

A different solution would be to fork the repo and

[2022-01-08 23:18] Aliaaaam opened #48 "RTL support"
Is there any way to add rtl support as well?

[2022-01-09 14:20] manogi commented on #48
Hi @Aliaaaam,
would like to help here, but I need to know more exaclty what you had in mind. Would it be enough that all block elements inside the editor had the attribute `dir="auto"`, so that they automatically are RTL when using for example arabic text? Or is it needed to have an option to set the whole editor to `dir="rtl"` ?

[2022-01-09 22:16] Aliaaaam commented on #48
Hey @manogi
I think having a button to switch between `dir="rtl"` and `dir="ltr"` in blocks is more appropriate.

[2022-01-09 22:20] Aliaaaam opened #49 "Wrong attributes in links"
- `download=""` attribute wrongly applied to all links which is force the browser to download the page instead of navigating it.
- `title=""` applied to all links and can not modified by the editor which is not good for SEO.
- `rel="noopener noreferrer nofollow"` applied to internal links which is not good for SEO (would be best if we can choose the rel mode).

[2022-01-10 10:08] manogi commented on #49
Hi @Aliaaaam , regarding the `download` attribute: there was a version a while back that introduced this problem. For a short while, the empty `download` attribute was accidentally added when saving. That is remedied since quite some time, but unfortunately you will have to save the text in Nova once to remove those `download` attributes (warning: Nova only really saves if some field is altered, s

[2022-01-10 11:15] manogi commented on #49
I corrected the way the link attributes are added (Tiptap is a bit complicated in this regard). Now there are no empty attributes anymore, and the attributes are editable:

<img width="846" alt="CleanShot 2022-01-10 at 12 14 22@2x" src="https://user-images.githubusercontent.com/1419634/148757264-3515ebee-1949-4870-950e-3886bbda3971.png">

[2022-01-10 11:54] manogi commented on #48
RTL is now supported as button that switches rtl on and off:

![CleanShot 2022-01-10 at 12 47 54@2x](https://user-images.githubusercontent.com/1419634/148761252-b2f8e3f5-d05a-43a5-847e-ca97a6d30c00.png)

<img width="999" alt="CleanShot 2022-01-10 at 12 48 30@2x" src="https://user-images.githubusercontent.com/1419634/148761317-0c495fca-f782-4226-a682-de3fcf49cfb6.png">

[2022-01-10 15:22] Aliaaaam commented on #49
Thanks for your quick support, Is it added on 2.7.0?
I have update it via composer but my nova still loads old IDE, is there any thing else should I do?

[2022-01-10 15:26] manogi commented on #49
composer update with "manogi/nova-tiptap": "^2.7.0" should work. It did in my test.

[2022-01-10 15:30] Aliaaaam commented on #49
![Screen Shot 1400-10-20 at 18 59 05](https://user-images.githubusercontent.com/88658555/148792185-256f1dc2-05d9-44c5-a669-9bd80bdf7e81.png)
Did exactly same thing but actions not working, seems nova load old vue bundle

[2022-01-10 15:33] manogi commented on #49
can you please post your composer.json?

[2022-01-10 15:34] Aliaaaam commented on #49
sure

[code]

[2022-01-10 15:35] manogi commented on #49
Looks OK. Also you might need to clear your browser cache - I always have the browser cache disabled when testing so that did not occur to me before.

[2022-01-10 15:37] Aliaaaam commented on #49
I also test it in other browser and an other system, it seems the javascript bundle cached somewhere on Laravel side and I don't know how to clear it!

[2022-01-10 15:44] manogi commented on #49
Is this local or on a remote server?

Did you try to run php artisan nova:publish or php artisan view:clear?

I'm not sure about this because I don't seem to need to run this, but maybe the view cache needs to be cleared.

Also I see two empty buttons - which ones are those supposed to be?

[2022-01-10 17:59] Aliaaaam commented on #49
`php artisan view:clear` fixed the issue.
Awesome update, thank you!

[2022-01-10 18:02] #49 closed

[2022-01-10 18:02] #48 closed

[2022-01-12 12:54] mstaack opened #50 "No Detail Field anymore in 2.0"
Is there any reason to have an empty detail field in 2.0?

With 1.0 all worked fine on my side :)

https://github.com/manogi/nova-tiptap/blob/v2.7.0/resources/js/components/DetailField.vue

isn't adding v1 vue component enough?

[2022-02-01 10:40] jolora commented on #50
Yes to me this seems like it must be a bug... I was surprised to find my TipTap fields missing on the detail view.

[2022-02-01 11:36] manogi commented on #50
Hi there - the detail field now behaves the same as the Trix detail field: it shows a "Show content" button to expand the content. Also like the Trix fied using the `->alwaysShow()` method in the resource makes the content always visible in the detail view.

[2022-02-01 11:39] manogi commented on #50
P.S. added in v2.7.1

[2022-02-01 12:49] jolora commented on #50
Brilliant, thanks @manogi . I was on v2.7.0 ... v2.7.1 works a treat!

[2022-02-01 12:53] #50 closed

[2022-02-02 08:18] mstaack commented on #50
brilliant stuff, thank you!

[2022-02-02 11:16] latwelve opened #51 "Doesn't work in Safari when used in an Action."
Hey - if the tiptap field is used within an Action model then it is not selectable with a mouse or by tabbing into it.

It works fine when used on an update or creation page.

Latest nova & package version

[2022-02-04 12:15] mikkellindblom opened #52 "Issue rendering paragraph toolbar button (missing icon)"
Seems like the icon for the paragraph button is missing in NormalButton.vue.

<img width="679" alt="Screenshot 2022-02-04 at 13 14 15" src="https://user-images.githubusercontent.com/5261690/152527326-4d248f4f-5332-4db0-8634-b2dc22c776f6.png">

[2022-02-04 12:40] manogi commented on #52
Hi there, could you please paste your Resource Class, or just the Tiptap fields inside that class? I'm not sure which button you mean. There is no "paragraph" button. Just pressing enter inside Tiptap adds a new paragraph, no button is needed. All other block elements can be turned back into a paragraph by by toggling the button again (like H1, H2, Unordered List etc.).

[2022-02-04 12:46] mikkellindblom commented on #52
Hi @manogi ,

I often use the "paragraph" button to reset text pasted from elsewhere, maybe that is just me?

[code]

Maybe the following would work:

File: [NormalButton.vue](https://github.com/manogi/nova-tiptap/blob/master/resources/js/components/buttons/NormalButton.vue):

[code]

[2022-02-04 12:58] manogi commented on #52
Hmm. I'm not sure I would like the Paragraph button to be a "first class citizen", because people might think they actually need to use it. But I might consider adding the button, but not adding it to the Readme. I will think about it.

[2022-02-04 13:01] mikkellindblom commented on #52
Sure thing, let me know what you decide :) Thanks!

[2022-02-04 14:05] manogi commented on #51
Hi there - I just added a Tiptap field to an action and had no problem selecting the field and writing into it. Please let me know a bit more about your setup, maybe paste the resource class, and maybe let me know your browser and version, thanks.

[2022-02-04 14:18] manogi commented on #52
I decided to add the button (is added in version v2.7.2), but I don't mention it in the Readme. Using feels a little strange to me, as there is no way to "untoggle" a paragraph, as the paragraph is the default block node. I hope it fits your use case!

[2022-02-05 09:10] #52 closed

[2022-02-07 11:52] latwelve commented on #51
Hey I think its on me doing something silly - I'll close this for now. Sorry for the false alert!

[2022-02-07 11:52] #51 closed

[2022-02-08 08:59] mikkellindblom commented on #52
Thank you @manogi!

[2022-02-08 16:52] bcoelhodev opened #53 "editHtml is not working properly"
Hi,

When i activated the edit html option and add some html (`<iframe>` or `<div>`) and change to normal mode, the html is removed.
If i insert something like `<p>` or `<h6>` works nice.

I'm using v2.7.3 and laravel nova v3.20.0.

[2022-02-08 16:59] manogi commented on #53
Hi @bcoelhodev  - that is expected behavior. Only the nodes that are allowed in Tiptap can be saved. Iframes and divs are not part of theses nodes.

[2022-02-08 17:47] bcoelhodev commented on #53
So it is not possible to add iframe at all?! Right?

[2022-02-08 17:59] manogi commented on #53
Iframe and Divs are not part of the default nodes in Tiptap (https://tiptap.dev/api/nodes), so it's kinda hard to implement this. It is not impossible, but also not easy.

I personally use Nova Tiptap as a text editor in Nova - not an HTML Editor or a "content editor". I normally don't even have use for the image button. For advanced use cases I usually use the package "Nova Flexible Content" (htt

[2022-02-08 18:24] bcoelhodev commented on #53
Thanks @manogi

[2022-03-30 23:47] kenneth-hendricks opened #54 "Allow customisation of image inline setting"
Hi,

It would be great if this library allowed users to set the inline setting for the images extension. This is required if you want to allow images to be made linkable. From what i can see there is no way to set this currently.

https://tiptap.dev/api/nodes/image

[2022-04-05 17:53] cwray-tech opened #55 "Update to Support Nova 4"
Now that Nova 4 is out, it would be great if we could update this field to support it. Let me know if you would like some help on this and I may be able to dedicate some time on it. For this field I don't believe we will have too many changes to make.

[2022-04-05 21:37] manogi commented on #55
Hey there - yeah, I just read this today. You know what - I do would like some help with that. If you have the time, I look forward to your PR - but no pressure, of course. Thanks for offering your help!

[2022-04-07 10:16] manogi commented on #55
I might also look into this. Will report back here, not very much time at them moment,

[2022-04-21 21:58] gepopp commented on #55
Hey there,
if u really can do that update, sent me a link to buy u a coffee ;)

[2022-04-21 22:10] cwray-tech commented on #55
I'm on a tight deadline with a work project as soon as I'm in a better place with that, I can give it a go, but if someone has more time now feel free to go ahead!

[2022-04-21 22:13] manogi commented on #55
I will look into it over the weekend.

[2022-04-24 15:58] manogi commented on #55
I can tell you - upgrading packages for Nova 4 is no fun when you're actually using Vue in the package... but it is now done. What seems to be gone in Nova 4 is the option to make the field wider (without the white space to the right of the field) - even the Trix field is narrower now, and for now I cannot make the Tiptap field span the entire available space, unfortunately.

Version 3 of Tiptap i

[2022-04-24 18:25] cwray-tech commented on #55
@manogi I super appreciate you putting in that work. Thank you so much!

Hopefully this next week I'll be able to test it in a client project.

The Nova team really did change a lot of things with this new upgrade. hopefully it was a good decision on their part..

[2022-04-25 05:38] gepopp commented on #55
@manogi magnific, works like a charm!!

[2022-04-25 07:09] manogi commented on #55
@gepopp thanks for noticing this - it is now fixed.

[2022-04-25 08:34] gepopp commented on #55
@manogi you are awesome!!

[2022-04-25 15:21] cfc7-unikent opened #56 "Link modal is wrongly placed on tiptap v2.8.0 on Nova 3"
**Versions:**
* Nova: 3.32.0
* TipTap: 2.8.8

### Description
When pressing the link button the link modal is placed down in the bottom right just off the screen.

![2 8 0 - modal placement and toolbars](https://user-images.githubusercontent.com/31033292/165120113-d4bed54b-1975-4ce2-a3f4-e74f2c868cb8.gif)

In the previous version 2.7.6 the modal is placed in the middle as expected.

![2 7 6 - tool

[2022-04-25 15:58] manogi commented on #56
HI there, thank you for notifying me. This is now fixed in v2.8.1

[2022-04-25 16:01] manogi commented on #56
Ah well - the thing with the toolbars is not yet fixed.

[2022-04-25 16:13] cfc7-unikent commented on #56
Many thanks for the fix - that does resolve the issue with the placement. :-)

What would be best about the thing with the toolbars? Would you like me to keep this issue open or would you like me to add it as a new separate issue?

[2022-04-25 16:52] manogi commented on #56
Please keep it open - I'm fixing it with vue-portal

[2022-04-26 07:46] manogi commented on #56
The toolbar situation is now fixed in v2.8.2

[2022-04-26 07:54] manogi commented on #55
@gepopp lol not really but thanks!

[2022-04-26 07:54] #55 closed

[2022-04-26 07:59] cfc7-unikent commented on #56
That is absolutely brilliant! Many, many thanks @manogi :-)

All looks perfect to me 🎉

[2022-04-27 04:53] gepopp opened #57 "Multiple Headimgs?"
Hi there,
Im not aure if its a Bug or this is on purpose but its not possible tlo set multiple headings of the same kind in one fiel.

So after setting for eg. the first h3 the and mark another line line the h3 Button is not working anymore?

[2022-04-27 06:27] manogi commented on #57
Hi there, no, that is not in purpose - I am investigating.

[2022-04-27 06:50] manogi commented on #57
@gepopp  phew some more Vue 3 madness but this is now fixed.

[2022-04-27 06:50] manogi commented on #57
@gepopp in v3.0.6

[2022-05-03 23:13] adnanerlansyah403 opened #58 "Is it required for installed a Laravel Nova ?"
I have a problem when installed, it's required for class Laravel\Nova\Nova

[2022-05-04 09:32] manogi commented on #58
Please provide me with more information. What exactly are you trying to do? Which versions are you working with (Nova and nova-tiptap)? Do you see error messages?

I am sorry but with this amount of info I cannot help.

[2022-05-04 09:32] #56 closed

[2022-05-04 09:32] #57 closed

[2022-05-06 08:50] #45 closed

[2022-05-09 09:48] curder commented on #54
Need this.

[2022-05-26 08:01] exshapoval opened #59 "tiptap extensions"
Is there possible to install it?
I really need button for change text color

[2022-05-26 11:20] #58 closed

[2022-06-27 05:42] joostvanhoof opened #60 "Text content shows through link modal"
On version 3.0.6:

<img width="827" alt="Screenshot 2022-06-27 at 07 41 27" src="https://user-images.githubusercontent.com/5268113/175867687-483f0969-2492-4311-81e9-2e16f0f66019.png">

[2022-06-29 12:41] chriswd opened #61 "Support for dependsOn"
Your editor is really cool! It would be very nice to have support [for the Nova 4 dependsOn() - Feature](https://nova.laravel.com/docs/4.0/resources/fields.html#dependent-fields), for example to set a different default content in depending on a Select box.

Thanks a lot!

[2022-06-30 09:34] manogi commented on #60
@joostvanhoof hi there - this is now fixed in v3.0.7

[2022-06-30 09:38] manogi commented on #61
@chriswd I'm not using Nova 4 that much yet (some third party packages do not support it yet).
Would you like to PR this functionality, maybe?

[2022-06-30 20:40] joostvanhoof commented on #60
Awesome, thanks! I did notice that there is a similar issue with the menu bar. If you have enough content then the menu bar becomes sticky (as expected and this works). When it does, you can not click any of the buttons on the menu bar anymore.

<img width="621" alt="Screenshot 2022-06-30 at 22 35 14" src="https://user-images.githubusercontent.com/5268113/176773887-274a0275-8ffe-4686-9f54-c8665fb5

[2022-07-01 09:43] chriswd commented on #61
Hi Sebastian, sorry, but I'm not an expert for your component, more a Nova beginner. So I can't build it myself.

[2022-07-13 11:56] riptin opened #62 "Make images prunable"
Hello,

Right now, when you delete an image from the field, it still stays on the drive.

[2022-07-13 12:33] manogi commented on #60
@joostvanhoof this is now repaired in v3.1.2. Laravel Nova frustratingly keeps removing tailwind classes which then have no effect anymore in third party addons like mine.

[2022-07-13 12:37] manogi commented on #62
Hello @riptin  - could you please elaborate what exactly should happen once an image is removed from the editor content? Do have a suggestion or would like to PR something?

[2022-07-13 12:38] manogi commented on #59
I am not planning to add this functionality in the near future, but feel free to PR a solution.

[2022-07-13 12:38] #59 closed

[2022-07-13 14:16] #60 closed

[2022-07-13 14:25] riptin commented on #62
Thanks for the quick reply! It would be neat if there was an option to physically delete the image from the drive when it is removed in editor.

[2022-09-23 10:15] axeldotdev opened #63 "Content is saved to null without touching it"
Hello! 👋

I have an issue with the editor integration on a client site that I can't figure out.

When I go to the edit form of a page (one of my resources), I update the title for example then I save, and then one or more contents in one of the layouts will be saved at `null`.

I'm not sure if the issue comes from this package or from my code, anyone have an idea?
Maybe mixing with layouts classes

[2022-09-23 13:47] manogi commented on #63
Hi there, I have not tried to integrate TipTap in the Flexible Content package in Nova 4 yet, maybe there is some strange Javascript problem. Unfortunately I don't have much time for checking it, maybe you can fork it and see if you find the error.

[2022-09-26 12:35] axeldotdev commented on #63
Hello, thanks for you quick response, I will try to investigate. 👍

[2022-10-11 09:32] shaffe-fr commented on #54
Hey @manogi,
I'm preparing a PR for this issue, but I encounters troubles to install local dependencies because of FontAwesomePro.
Can I PR the updated sources? You'll only have to compile them.
Thanks

[2022-10-11 09:33] manogi commented on #54
Yes, we can try this

[2022-10-11 09:35] shaffe-fr commented on #54
IMO images should always be embed as inline. Do you agree or would you prefer a new imageSettings.inline option?
Thanks

[2022-10-11 09:52] manogi commented on #54
It will take me a bit longer to answer this - I am currently not actively using Nova (or TipTap) and will have to re-install my testing environment for it.